.main-container {
  column-count: 6;
  column-gap: 1em;
  background-color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #d9d9d9;
  margin: 0 0 1em;
  border-radius: 10px;
}

.text {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.lazyload-wrapper {
  position: relative;
  width: 100%;
}
.lazyload-wrapper:hover .overlay {
  opacity: 0.5;
}

.no-items {
  display: flex;
  justify-content: center;
  padding: 1em 6em;
  background-color: white;
}

img {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media only screen and (min-width: 1024px) {
  .main-container {
    column-count: 6;
    padding: 1em 3em;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .main-container {
    column-count: 4;
    padding: 1em 2em;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .main-container {
    column-count: 3;
    padding: 1em 1.5em;
  }
}

@media only screen and (max-width: 539px) {
  .main-container {
    column-count: 2;
    padding: 1em 1em;
  }
}
