.container {
  display: flex;
  background-color: white;
  padding: 1.5em 3em 0.5em 3em;
  justify-content: flex-end;
  gap: 2em;
  align-items: center;
}

svg {
  cursor: pointer;
}

@media only screen and (max-width: 539px) {
  .container {
    gap: 1em;
    padding: 1.5em 1em 0.5em 1em;
    justify-content: center;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
